@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Lugrasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Lugrasimo&family=Syne+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
/*horní pruhy*/
nav{
    background-color: #070F44;
    text-align: right;
    justify-content: right;
    height: 60px;
    padding: 20px;
}
nav li{
    color: white;
    display: inline;
    padding: 10px;
    font-size: 120%;
}
nav li a{
    text-decoration: none;
    color: white;
    
}
nav li a:hover{
    color: orange;
}
 
.pruh{
    background-color: #0D3858;
    height: 40px;
}

/*header*/
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 500px; 
}
header img{
    border-radius: 150%;
    height: 300px;
    width: 300px;
}
.nadpis{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: Bungee Shade;
}
.nadpis h1{
    font-size: 500%;
}
.nadpis h3{
    font-size: 200%;
}

/*main*/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.logo a img{
    height: 200px;
    width: 200px;
    display: inline;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 50px;
    
}
.omne{
    max-width: 600px;
    justify-content: center;
    text-align: center;
    font-family: Funnel Sans;
    margin-top: 50px;
    
}
.omne h5{
    font-size: 150%;

}
.omne p{
    font-size: 100%;
    text-align: justify;
    padding-top: 5px;
}

/*koncovka*/
footer{
    background-color: #070F44;
    padding: 10px;
    margin-top: 150px;
}
footer p{
    text-align: right;
    color: white;
}



/* Color Theme Swatches in Hex */
.Upgradable-Dark-Blue-Black-1-hex { color: #070F44; }
.Upgradable-Dark-Blue-Black-2-hex { color: #050720; }
.Upgradable-Dark-Blue-Black-3-hex { color: #0D3858; }
.Upgradable-Dark-Blue-Black-4-hex { color: #222222; }
.Upgradable-Dark-Blue-Black-5-hex { color: #000000; }
